/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');

:root{
    --light-gray: #2b3032a1;
    --primary-color: #81beb5;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto:"Roboto", sans-serif;
    --gugi:"Gugi", cursive;
    --sofia:"Sofia", cursive;
}

.primary-color{
    color: var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.light-blue{
    color: lightblue;
}


/* header */

header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title{
    font-family: var(--gugi);
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}


/*Navigation Menu*/
.navbar-nav{
    top: 0;
    padding: 0.8em 0em;
}
.navbar.sticky{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: white;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.35);
    animation-name: animationFade;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes animationFade{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -o-transform: none;
    }
}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray);
}

.navbar-nav .nav-item .nav-link{
    padding: 0em 1.3rem;
}

.navbar-nav .search-icon{
    margin-right: .5rem !important;
}
.navbar-nav .basket-icon{
    margin-right: .5rem !important;
}


/* Slider 1*/

.site-slider{
    position: relative;
}

.position-top{
    position: absolute;;
    top:45%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
    opacity: 1;
}

.right-0{
    right:0;
}

/* Slick Dots*/

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    left: 50%;
}



.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
    transition: transform 0.5s ease;
}

/*Second Slider*/

.site-slider-two{
    position: relative;
    height: 30%;
}

.site-slider-two .product{
    height: 25rem;
    position: relative;
    overflow: hidden;
}

.site-slider-two .product img{
    width: 90%;
    margin: auto;
}

.site-btn.btn-span{
    padding: 0.8rem 1rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    background-color: white;
    color: var(--light-gray);
}

.site-slider-two .slick-track .product:hover span{
    background-color: var(--primary-color);
    cursor: pointer;
    transition: ease 0.5s;
}
.site-slider-two .slick-track .product span{
    transition: ease-out 1s;
}

.hr{
    border: 1px dotted var(--border);
}

/*Featured Section*/

.container .features{
    padding: 3rem 0;
}

.container .features h1{
    font-family: var(--gugi);
}

.container .features p{
    padding: 0.5% 25%;
    font-size: 0.9em;
}

/*Third Slider*/

.site-slider-three{
    position: relative;
    margin-bottom: 5rem;
}

.site-slider-three .product{
    height: 100%;
    padding: 0em;
}

.site-slider-three .card-details{
    margin-top: 0.5rem;
    padding: 0 2rem;
}

.rating i{
    font-size: 0.7rem;
    color: lightblue;
}

.site-slider-three .pro-price span{
    color: var(--text-color);
}

.product .cart .site-btn:hover{
    background-color: var(--primary-color);
    color: white;
    transition: ease 1s;
    font-weight: bold;
}

.product .cart .site-btn{
    transition: ease-out 1s;
}


/*Fourth Slider*/

.site-slider-four{
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.slider-four{
    padding: 0rem 0.4rem;
}

.slider-four .product img{
    width: 80%;
    border: 1px solid var(--border);
    transition: ease 1s;
}

.slider-four .product:hover img{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: ease 1s;
}


/*Styling the 3 cols (New,Best,Featured)*/

.newseller{
    margin-top: 8rem;
}

.slider-brand{
    position: relative;
    margin: 4rem 0;
}

/*Our client*/
.slider-client{
    width: 100%;
    height: 100%;
    background: url('../assets/customer_review.jpg');
    background-size: cover;
    padding: 8% 0;
    overflow: hidden;
}

.slider-box{
    width: 80%;
    height: 100%;
    background: rgba(255, 255, 255, 0.822);
    margin: auto;
    border-radius: 0.4rem;
}

.slider-six p{
    padding: 2% 15%;
    line-height: 32px;
    font-family: var(--roboto);
    color: var(--light-gray);
}

#wocs{
    background-color: rgba(133, 133, 133, 0.466);
}

.site-info{
    margin-top: 5rem;
}

/*Footer*/
footer h4{
    padding: 4rem 1rem 0;
    font-family: var(--roboto);
}

footer .social i{
    padding: 3% 1%;
}

footer .col-md-2 small{
    color: var(--light-gray);
    padding: 0.7em 0;
}

footer .follow-us div{
    background-color: lightblue;
}